*{
    font-family: "Kantumruy Pro", sans-serif;
}
h1{
   font-variant: small-caps; 
    color: blue;
    font-size: 30px;
    text-align: center;
    
}


h4{
    font-size: 20px;
}
h5{
    line-height: 24px;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#id{
    font-family: "Roboto",  "Suwannaphum", sans-serif;
}

div {
    border: 1px solid blue;
    align-items: center;
    max-width: 900px;
    margin:auto;
    margin-bottom: 30px;
    background-color: #eaeaea;
    padding: 20px;
    
}
button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
}


            




